<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>headers}}
            <p>This site was created by louis. It uses data from mapbox.com nad darksky.net</p>
            <img class="portrait" src="/img/christmas.jpg"></img>
        </div>
        
        {{>footers}}
    </body>
</html>